/* Created by Dhruv */



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffb766;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    color:#a28089;
}

#balance {
    font-size: 18px;
    margin-bottom: 10px;
    
}
#history{
    font-size:17px;
}

#transactions {
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #a28089;
    color:white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
